.login-page, .insert-page {
    width: 480px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #d6faff;
    max-width: 480px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

h1 {
    color: #75bfd3;
}

#connection{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #333333;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

#inscript{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #333333;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #f5f5f5;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

#inscript:hover,#inscript:active,#inscript:focus {
    background: #75bfd3;
}

#connection:hover,#connection:active,#connection:focus {
    background: #75bfd3;
}

.form .message {
    margin: 15px 0 0;
    color: #000000;
    font-size: 12px;
}
.form .message a {
    color: #75bfd3;
    text-decoration: underline;
}

.form .message a:hover {
    text-decoration: underline;
}

.form .register-form {
    display: none;
}

#inom, #iprenom, #ipseudo, #icode {
    background-color: white;
}

#copseudo, #cocode {
    background-color: white;
}

body {
    background-color: #3cc4d3;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
