body {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font: 0.8em "Trebuchet MS", helvetica, sans-serif;
    background: #3cc4d3;
}

h1#header {
    height: 258px;
    margin: 0;
    background: url("../img-site/cours.jpg") no-repeat;
}

h1 {
    font-size: 30px;
    text-shadow: -1px -1px #eee, 1px 1px #888, -3px 0 4px #000;
    color: deepskyblue;
    text-align: left;
}

h1#header span {
    margin-left: 5px;
    vertical-align: middle;
}

h2 {
    text-decoration: double underline;
}

h3 {
text-decoration: underline dotted;
}

ul#horizontal {
    height: 40px;
    margin: 0;
    padding: 0;
    background: deepskyblue;
    list-style-type: none;
}

ul#horizontal li {
    float: left;
    text-align: center;
}

ul#horizontal li a {
    width: 125px;
    line-height: 40px;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    display: block;
    text-decoration: yellow;
    border-right: 3px solid darkblue;
}

div#contenu {
    width: 770px;
    margin: 0 auto;
    text-align: left;
    border: 2px solid darkblue;
    background: #ffffff;
}


table {
    border: 2px solid black;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1em;
}

th, tr, td {
    border: 1px solid black;
}

div#presentation {
    padding: 0 25px 0 25px;
}

div#presentation fieldset {
    margin-bottom: 1em;
}

div#presentation p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius:10px 0;
    -webkit-border-radius:10px 0;
    border-radius:10px 10px;
}

h4 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

fieldset.description {
    background-color: #3cc4d3;
    -moz-border-radius:10px 0;
    -webkit-border-radius:10px 0;
    border-radius:10px 0;
}

form {
    margin-top: 1em;
}

fieldset.formulaireReserv {
    margin-left: 1em;
    margin-right: 1em;
}
